# Promplate Demo backend url
PROMPLATE_DEMO_BASE_URL=
# Your API Key for OpenAI
OPENAI_API_KEY=
# Custom base url for OpenAI API. default: https://api.openai.com
OPENAI_API_BASE_URL=
# Custom base url for OpenAI API. default: https://api.openai.com
OPENAI_API_BASE_URL=
# Inject analytics or other scripts before </head> of the page
HEAD_SCRIPTS=
# Secret string for the project. Use for generating signatures for API calls
SECRET_KEY=
# ID of the model to use. https://platform.openai.com/docs/api-reference/chat/create#chat/create-model
OPENAI_API_MODEL=
# url of the tutorial markdown file
TUTORIAL_MD_URL=
# url of the advertisement iframe
PUBLIC_IFRAME_URL=
# user-agent for backend requests
UNDICI_UA=
# whether your messages should be right-aligned
PUBLIC_RIGHT_ALIGN_MY_MSG=