# Your API Key for OpenAI
OPENAI_API_KEY=
# Default temperature for OpenAI API
OPENAI_API_TEMPERATURE=
# Provide proxy for OpenAI API.
HTTPS_PROXY=
# Custom base url for OpenAI API. default: https://api.openai.com
OPENAI_API_BASE_URL=
# Inject analytics or other scripts before </head> of the page
HEAD_SCRIPTS=
# Secret string for the project. Use for generating signatures for API calls
SECRET_KEY=
# Set password for site. If not set, site will be public
SITE_PASSWORD=
# ID of the model to use. https://platform.openai.com/docs/api-reference/chat/create#chat/create-model
OPENAI_API_MODEL=
# url of the tutorial markdown file
TUTORIAL_MD_URL=
# url of the advertisement iframe
AD_IFRAME_URL=
# user-agent for backend requests
UNDICI_UA=
# whether your messages should be right-aligned
PUBLIC_RIGHT_ALIGN_MY_MSG=