---
import Layout from '../layouts/Layout.astro'
---

<Layout title="验证">
  <main class="h-screen col-fcc gap-2">
    <div class="op-30">开始使用16k专线，请在下面的输入框中输入以下文字</div>
    <button>“ 我承诺每天捐赠至少1元 ”</button>
    <div class="op-30" id='third-line'>点击上面文字即可复制</div>
    <div id="input_container" class="bg-slate rounded-full flex bg-op-15 mt-4 overflow-hidden">
      <input id="password_input" type="text" autocomplete="off" class="bg-transparent rounded-none px-5 transition-background-color gpt-password-input" />
      <div id="submit" class="rounded-full transition-all gpt-password-submit hover:scale-80">
        <div class="i-carbon-arrow-right" />
      </div>
    </div>
  </main>
</Layout>

<script>
const inputContainer = document.getElementById('input_container') as HTMLDivElement
const input = document.getElementById('password_input') as HTMLInputElement
const submitButton = document.getElementById('submit') as HTMLDivElement
const copyButton = document.querySelector('button') as HTMLButtonElement
const thirdLine = document.getElementById('third-line') as HTMLDivElement

const correctPass = '我承诺每天捐赠至少1元'

copyButton.onclick = () => {
  navigator.clipboard.writeText(correctPass)
  thirdLine.innerText = '已复制'
}

input.onkeydown = async(event) => {
  if (event.key === 'Enter')
    handleSubmit()
}
submitButton.onclick = handleSubmit

async function handleSubmit() {
  const password = input.value
  if (password === correctPass) {
    localStorage.setItem('version', '1')
    window.location.href = '/'
  } else {
    inputContainer.classList.add('invalid')
    setTimeout(() => {
      inputContainer.classList.remove('invalid')
    }, 300)
  }
}
</script>

<style>
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
}
</style>
