---
const origin = Astro.request.headers.get('host')
---
<footer mb-4rem text-xs flex flex-col gap-2.5>
  <p>
    <a b-slate-link href="https://ic.muspimerol.site/">Free Chat Index</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://anse.app.bnu120.space/">Anse</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://github.com/CNSeniorious000">Muspi Merol</a>
  </p>
  <p><a op-30 hover:op-60 w-fit transition-opacity flex items-center href=`mailto:admin@muspimerol.site?subject=❗${origin} Error Report&body=${origin} 网站不能正常使用`>网站问题请联系<span i-line-md-email-twotone-alt mx-1></span>admin@muspimerol.site</a></p>
</footer>
