<footer mb-3rem>
  <p mt-4 text-xs>
    <a b-slate-link href="https://xindex.muspimerol.site">xindex</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://muspimerol.site/blog">muspimerol.site</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://bnu120.space">bnu120.space</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://chat.academic.bnu120.space">ChatGPT 学术优化</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://github.com/ddiu8081/chatgpt-demo">原开源项目</a>
  </p>
  <p mt-4 text-xs><a op-30 hover:op-60 w-fit transition-opacity flex items-center href="mailto:admin@muspimerol.site?subject=❗Site Error Report&body=chat.bnu120.space网站不能正常使用">如遇网站不可用，请联系我，谢谢<span i-line-md-email-twotone-alt mx-1></span>admin@muspimerol.site</a></p>
  <p mt-4 text-xs op-15 select-none>Note that we may collect anonymous data for academic research and analysis purposes. Rest assured that your privacy will be protected and we will never use this data for commercial gain. Additionally, we guarantee that our website will always remain free to use. If you do not consent to our data collection practices, kindly refrain from using our website. Thank you for your patronage and cooperation!</p>
</footer>
