<footer mb-3rem>
  <p mt-4 text-xs>
    <a b-slate-link href="https://blog.vvvv.gay">博客</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://blog.vvvv.gay/article/34">其他镜像</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://www.chatmind.tech">ChatMind</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://chat.academic.bnu120.space">ChatGPT 学术优化</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href=""></a>
  </p>
  <p mt-4 text-xs op-65 select-none>1</p>
  <p mt-4 text-xs><a op-30 hover:op-60 w-fit transition-opacity flex items-center href="mailto:L52013148@111.com">如遇网站不可用，请联系我，谢谢<span i-line-md-email-twotone-alt mx-1></span>L52013148@111.com</a></p>
  <p mt-4 text-xs op-15 select-none>Note that we may collect anonymous data for academic research and analysis purposes. Rest assured that your privacy will be protected and we will never use this data for commercial gain. Additionally, we guarantee that our website will always remain free to use. If you do not consent to our data collection practices, kindly refrain from using our website. Thank you for your patronage and cooperation!</p>
</footer>
