---
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div class="flex-row mt-2.5rem mb-2rem transition-margin fb items-center select-none md:mt-3.5rem">
    <div class="fi">
      <a href="." onclick="return false" mr-1 flex items-center gap-2>
        <img h-8 src="/logo.png" alt="logo">
        <span class="tracking-wider gpt-title <md:transition-all">知了同行</span>
      </a>
    </div>
    <div class="flex">
      <a class="rounded-md h-10 grid transition-background-color w-10 place-items-center <md:transition-colors hover:bg-$c-fg-5" href="https://github.com/CNSeniorious000/zhiliao">
        <span class="text-lg i-carbon-logo-github"></span>
      </a>
      <Themetoggle />
    </div>
  </div>
  {
    import.meta.env.AD_IFRAME_URL && <div class="h-22 transition-all overflow-hidden sm:h-27">
      <iframe src={import.meta.env.AD_IFRAME_URL} class="rounded-lg bg-$c-fg-2 h-25 ring-inset mt-2 mb-1 w-full transition-all ring-$c-fg-40 select-none <sm:mt-3 <sm:w-125% <sm:scale-80% <sm:translate-x--1/10 <sm:translate-y--4 hover:bg-$c-fg-5 hover:ring-1.75"></iframe>
    </div>
  }
</header>
