---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'

const base = Astro.request.headers.get('host') === 'chat.bnu120.space' ? 'bnu120.space' : 'muspimerol.site';
---

<header>
  <div class="fb items-center flex-row mt-6rem">
    <div class="fi">
      <a href="." onclick="return false" mr-1 select-none transition-all>
        <span class="gpt-subtitle dark:filter-sepia">chat</span><span class="gpt-title dark:gpt-subtitle dark:filter-invert">.{base}</span>
      </a>
    </div>
    <div class="flex">
      <a class="grid place-items-center w-10 h-10 rounded-md transition-background-color hover:bg-slate/10" href="https://cdn.muspimerol.site/group.html">
        <span class="i-mdi-wechat text-lg"></span>
      </a>
      <a class="grid place-items-center w-10 h-10 rounded-md transition-background-color hover:bg-slate/10" href="https://cdn.muspimerol.site/sponsorship.html">
        <span class="i-mingcute-pig-money-fill text-lg"></span>
      </a>
      <a class="grid place-items-center w-10 h-10 rounded-md transition-background-color hover:bg-slate/10" href="https://github.com/CNSeniorious000/free-chat">
        <span class="i-line-md-github-twotone text-lg"></span>
      </a>
      <Themetoggle />
    </div>
  </div>
  <div class="w-full bg-slate/10 op-50 py-5 mt-2 mb-1 rounded-sm grid place-items-center">
    广告位招租 - Ad Space For Rent
  </div>
</header>
