---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div class="fb items-center flex-row mt-6rem">
    <div class="fi">
      <a href="." onclick="return false" mr-1 select-none transition-all flex gap-2>
        <Logo />
        <span class="gpt-subtitle dark:filter-sepia ml-1">Free</span>
        <span class="gpt-title dark:gpt-subtitle dark:filter-invert">Chat</span>
      </a>
    </div>
    <div class="flex">
      <a class="grid place-items-center w-10 h-10 rounded-md transition-background-color hover:bg-$c-fg-5" href="https://cdn.muspimerol.site/group.html">
        <span class="i-mdi-wechat text-lg"></span>
      </a>
      <a class="grid place-items-center w-10 h-10 rounded-md transition-background-color hover:bg-$c-fg-5" href="https://cdn.muspimerol.site/sponsorship.html">
        <span class="i-mingcute-pig-money-fill text-lg"></span>
      </a>
      <a class="grid place-items-center w-10 h-10 rounded-md transition-background-color hover:bg-$c-fg-5" href="https://github.com/CNSeniorious000/free-chat">
        <span class="i-line-md-github-twotone text-lg"></span>
      </a>
      <Themetoggle />
    </div>
  </div>
  <iframe src="https://cdn.muspimerol.site/ad.html" class="h-20 w-full bg-$c-fg-2 hover:bg-$c-fg-5 hover:ring-1.75 ring-$c-fg-40 ring-inset transition-all mt-2 mb-1 rounded-lg"></iframe>
</header>
