---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'

const base = (Astro.request.headers.get('host') === 'chat.bnu120.space') ? 'bnu120.space' : 'muspimerol.site'
---

<header>
  <div class="fb items-center flex-row mt-6rem">
    <a href="." onclick="return false" hover:filter-brightness-120 transition-all>
      <Logo />
    </a>
    <Themetoggle />
  </div>
  <div class="fi mt-2 font-mono">
    <a href="." onclick="return false" select-none transition-all>
      <span class="gpt-subtitle dark:filter-sepia">chat</span><span class="gpt-title dark:gpt-subtitle dark:filter-invert">.{base}</span>
    </a>
  </div>

  <span block h-2></span>

  <p style="letter-spacing: 0.5pt;">
    2023-04-04 新增 <span text-white font-bold>Stick To Bottom</span> 功能，点击左下角按钮体验
    <span block h-1></span>
    <span op-40>TIPS: <a b-slate-link href="https://cdn.muspimerol.site/free-chat-tips-01.html">如果你没有什么使用ChatGPT的经验，建议先看看教程➡️</a></span>
  </p>
</header>
