---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2 font-mono">
    <span class="gpt-subtitle dark:filter-sepia">chat</span>
    <span class="gpt-title dark:gpt-subtitle dark:filter-invert">.bnu120.space</span>
  </div>
  <p mt-1 font-light font-serif op-80 style="letter-spacing: 0.5pt;">
    <span op-40>如果你在找原来那个</span><a href="//chat.academic.bnu120.space"> ChatGPT 学术优化</a><span op-40>网站，那个网站迁移到了</span><a href="//chat.academic.bnu120.space">chat.academic.bnu120.space</a>
    <br />
    <span op-40>这个网站也不是我做的，也只是部署了一个开源的 UI 大家随便使用哈</span>
  </p>
</header>
