.message pre {
  background-color: #24242d;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
}

.dark .message pre {
  background-color: var(--c-fg-2);
}

.message code:not(pre code) {
  @apply font-500 text-cyan-700 dark:font-400 dark:text-green-200;
  @apply mx-0.3 <md:transition-colors;
}

.message .hljs {
  background-color: transparent;
}

.message table {
  font-size: 0.8em;
}

.message table thead tr {
  background-color: #64748b40;
  text-align: left;
}

.message table th, .message table td {
  padding: 0.6rem 1rem;
}

.message table tbody tr:last-of-type {
  border-bottom: 2px solid #64748b40;
}
